<p>
  <h1 style="border-radius: 9px; background-color: lightskyblue; padding: 5px;">通知</h1>
  <% if @notices.empty? %>
    <%= simple_format("まだ通知はありません") %>
  <% else %>
    <% unread_notice_num = @notices.count{|notice| notice[:has_read] == false} %>
    <% unread_notice_rate = 100 - unread_notice_num*100 / @notices.count %>
    <div class="progress">
      <%= content_tag :div, "#{unread_notice_rate}%", class: 'progress-bar', role: 'progressbar', style: "width: #{unread_notice_rate}%;"%>
    </div>
    <% if unread_notice_num == 0 %>
      <%= simple_format("未読の通知はありません。 いいね！！") %>
    <% else %>
      <%= simple_format("#{unread_notice_num}件の未読の通知があります。") %>
    <% end %>
    <%= render partial: 'notices/notice', collection: @notices %>
  <% end %>
</p>
<%= link_to '戻る', users_path, class: 'btn btn-primary btn-lg' %>
