<h1>User#New</h1>

<div class="container">
  <div class="form-group col-xs-4">
    <%= form_for(@user, url: users_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.submit 'Create new account', class: "btn btn-primary", style: 'background-color: #77d;' %><br>
    <% end %>
    <%= link_to 'Top', root_path, class: 'btn btn-primary', style: 'margin-top: 50px; background-color: #77d;' %>
  </div>
</div>
