<h1>User#Show</h1>
<p>
  <%= render partial: 'users/user', layout: 'users/frame', locals: { user: @user }%>
</p>
<p>
  <strong><%= link_to 'Calendar', users_calendar_path %></strong>
</p>
<p>
  <h1>Notice</h1>
  <% if @user.notices.empty? %>
    You have no notifications.
  <% else %>
    <% notice_num = @user.notices.count{|notice| notice[:has_read] == false} %>
    <%= "You have #{notice_num} notification(s)." %>    
    <%= render partial: 'notices/notice', collection: @user.notices %>
  <% end %>
</p>
<p>
  <h3>Memo List</h3>
  <%= render  partial: 'memos/memo', collection: @user.memos, layout: 'memos/frame' %>

  <%= link_to 'Edit', edit_users_path %>
  <%= link_to 'New Memo', new_users_memos_path %><br>
  <%= link_to 'Top', root_path %>
</p>
