<h1>User#Show</h1>
<p>
  <%= render partial: 'users/user', layout: 'users/frame', locals: { user: @user }%>
</p>
<p>
  <strong><%= link_to 'Calendar', users_calendar_path, class: 'btn btn-warning btn-lg' %></strong>
  <strong><%= link_to 'Notice', users_notices_path, class: 'btn btn-info btn-lg' %></strong>
</p>

<p>
  <h3>Memo List</h3>
  <%= render  partial: 'memos/memo', collection: @user.memos, layout: 'memos/frame' %>

  <%= link_to 'Edit', edit_users_path %>
  <%= link_to 'New Memo', new_users_memos_path %><br>
  <%= link_to 'Top', root_path %>
</p>
