<h1>User#Show</h1>
<%= "ID :\t#{@user.id}" %><br>
<%= "Name :\t#{@user.name}" %><br>
<%= "Email :\t#{@user.email}" %><br>

<h3>User list</h3>
<%  @all_user.each do |user| %>
  <%= "#{user.id}#{user.name} #{user.email}" %><br>
<% end %>

<%= link_to 'Top', root_path %>
