<h1>User#Show</h1>
<%= render partial: 'users/user', layout: 'users/frame', locals: { user: @user }%>
<h3>Memo List</h3>
<%= render  partial: 'memos/memo', collection: @user.memos, layout: 'memos/frame' %>

<%= link_to 'Edit', edit_users_path %>
<%= link_to 'New Memo', new_users_memos_path %><br>
<%= link_to 'Top', root_path %>
