<h1><%= "#{@user.name}のホーム" %></h1>
<p>
  <%= render partial: 'users/user', layout: 'users/frame', locals: { user: @user }%>
</p>
<p>
  <%= link_to 'カレンダー', users_calendar_path, class: 'btn btn-warning btn-lg' %>
  <%= link_to users_notices_path, class: 'btn btn-default btn-lg', style: 'background-color: lightskyblue;' do %>
    <% notice_num = @user.notices.count{|notice| notice[:has_read] == false} %>
    通知 <span class="badge badge-primary" style="background-color: white; color: black;"><%= notice_num %></span>
  <% end %>
</p>

<p>
  <div style="margin: 2vh 10vw 2vh; border-radius: 9px; background-color: lavender; padding: 3px 5px 3px; height: 75px;">
    <h3 style="font-size: 32px; text-align: center;">
      メモ
      <%= link_to 'メモを追加', new_users_memos_path, class: 'btn btn-default btn-lg', style: 'float: right;' %>
    </h3>
  </div>
  <%= render  partial: 'memos/memo', collection: @user.memos.order(made_time: :asc), layout: 'memos/frame' %>
</p>
