<h1>User#Show</h1>
<%= "ID :    #{@user.id}" %><br>
<%= "Name :  #{@user.name}" %><br>
<%= "Email : #{@user.email}" %><br>

<h3>Memo List</h3>
<%= render  partial: 'memos/memo', collection: @user.memos %>
<%= link_to 'Top', root_path %>
<%= link_to 'New Memo', new_users_memos_path %>
