<h1>SignIn</h1>

<div class="row">
  <%= form_for(:session, url: signin_path) do |f| %>
    <%= f.label :id %>
    <%= f.email_field :id, class: 'form-control' %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Sign up', signup_path %></p>
</div>
