<h1>BirdBrains</h1>
<%= params %><br>
<%= @is_login %>
<% if params[:is_login] %>
  <%= link_to 'signout' , controller: "home", action: "signout" %>
<% else %>
  <%= link_to 'signin' , controller: "home", action: "signin" , user: 1 %>
  <%= link_to 'signup' , controller: "home", action: "signup" %>
<%  end %>
<p>
  This is the top page.
</p>

<!-- For test -->
<% if params[:is_login] %>
  <%= link_to 'show' , controller: "user", action: "show" , user: 1 %>
<% end %>
