<h1>BirdBrains</h1>
<%= params %><br>
<%  if logged_in? %>
  <h3>Current user is <%= current_user.name %></h3>
  <%= link_to 'Show', users_path %>
  <%= link_to 'Signout', signout_path %>
<% else %>
  <%= link_to 'Signin', signin_path %>
  <%= link_to 'Signup', signup_path %>
<%  end %>
<p>
  This is the top page.
</p>

<h3>User list</h3>
<% @all_user.each do |user| %>
  <%= "#{user.id}#{user.name} #{user.email}" %><br>
<% end %>
