<h1>BirdBrains</h1>
<%= params %><br>
<% if params[:is_login] %>
  <%= link_to 'Signout', signout_path %>
<% else %>
  <%= link_to 'Signin', signin_path, user: 1 %>
  <%= link_to 'Signup', signup_path %>
<%  end %>
<p>
  This is the top page.
</p>

<!-- For test -->
<% if params[:is_login] %>
  <%= link_to 'show' , controller: "users", action: "show" , user: 1 %>
<% end %>
