<p>
  <% if logged_in? %>
    <h3><strong><%= link_to "#{current_user.name}", users_path %></strong>でサインインしています。</h3>
  <% end %>
</p>
<p>
  アクセス情報
  <div class="well">
    <%= simple_format(request.user_agent) %>
  </div>
    <h3>ユーザーリスト</h3>
  <table border="3" width="300">
    <tr>
      <th>ID</th><th>ユーザー名</th><th>メールアドレス</th>
    </tr>
    <% @all_user.each do |user| %>
      <tr align="center">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
</p>
