<p>
  <%= "ID : #{memo.id}" %><br>
  <%= link_to_unless_current "Title : #{memo.title}", controller: 'memos', action: 'show', id: memo.id %><br>
  <%= "Body : #{memo.body}" %><br>
  <%= "Made time : #{format_datetime(memo.made_time)}" %><br>
  <%= "Updated time : #{format_datetime(memo.updated_time)}" %><br>
</p>
