<p>
  <%= "ID :           #{memo.id}" %><br>
  <%= "Title :        #{memo.title}" %><br>
  <%= "Body :         #{memo.body}" %><br>
  <%= "Made time :    #{format_datetime(memo.made_time)}" %><br>
  <%= "Updated time : #{format_datetime(memo.updated_time)}" %><br>
</p>
