<h1>Memo#New</h1>

<div class="container">
  <div class="form-group col-xs-4">
    <%= form_for(@memo, url: users_memos_path) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %><br>

      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %><br>

      <%= f.submit "Create new memo", class: "btn btn-primary", style: 'background-color: #77d;' %><br>
    <%  end %>
    <%= link_to 'Back', users_path, class: 'btn btn-primary', style: 'margin-top: 50px; background-color: #77d;' %>
  </div>
</div>
